
@{
    ViewBag.Title = "Retails";
    Layout = "~/Views/Shared/_Layout_BridgeStone.cshtml";
}

 <div class="banner o-2-m o-3-d">
            <img class="banner-img" src="/Content/images/banner-2.jpg" alt="Turanza Evoucher">
        </div>
<div class="tnc-content inner-content o-2-m o-3-d" ng-init="page = 'page-retails'">
      <br><br>
      <h1 class="title">danh sách đại lý</h1>
      <ul class="tnc-list">
        <li></li>
        <li> -
          Danh sách đại lý tham gia chương trình khuyến mãi <strong>Tặng thẻ xăng trị giá 300.000 VND khi mua 
02 lốp xe du lịch cao cấp TURANZA GR100</strong></li>
        <br>
        <li> 
          <strong>- Các đại lý thuộc các tỉnh Miền Bắc:</strong> 
          <table width="100%" border="1" cellspacing="0" cellpadding="10" style="text-align: center;">
            <tbody>
              <tr>
                <th>Tỉnh</th>
                <th>Đại Lý</th>
                <th>Địa Chỉ</th>
              </tr>
              <tr>
                  <td style="width: 15%;">Bac Ninh</td>
                  <td style="width: 25%;">B-shop BestVN</td>
                  <td class="3">Số nh&agrave; 42-44 Ng&ocirc; Gia Tự, Phường Vũ Ninh, TP. Bắc Ninh, tỉnh Bắc Ninh</td>
              </tr>
              <tr>
                  <td style="width: 15%;">Ha Nam</td>
                  <td style="width: 25%;">B-shop Tuấn Thành</td>
                  <td class="3">KM 5 Quốc lộ 1A - Thanh Liêm - Hà Nam</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="12">Ha Noi</td>
                  <td style="width: 25%;">Công Ty TNHH Hoàng Hùng</td>
                  <td class="3">50 Yên Phụ, P. Nguyễn Trung Trực, <br/>Q. Ba Đình, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Dân Chủ</td>
                  <td class="3">S&ocirc;́ 140 Trần Ph&uacute;, H&agrave; Đ&ocirc;ng, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select </br> Thái Phương</td>
                  <td class="3">B1-2 phố Việt Hưng, P. Việt Hưng, <br/>Q. Long Bi&ecirc;n, TP. H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Gia Khoa</td>
                  <td class="3">214 Trần Quang Khải, P. Chương Dương, <br/>Q. Hoàn Kiếm, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Thái Phương</td>
                  <td class="3">B1-2 ,Phố Việt Hưng, P. Việt Hưng, <br/>Q.Long Biên Tp. Hà Nội </td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Và Dịch Vụ Bích Thư</td>
                  <td class="3">Tổ 5, Phường Đại Kim, Quận Hoàng Mai, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Hương Hùng Thúy</td>
                  <td class="3">Số 888 Kiốt Nam Ga Văn Điển - Thanh Trì - Hà Nội.</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Xuân Tùng</td>
                  <td class="3">69A Hai B&agrave; Trưng, P. Cửa Nam, Ho&agrave;n Kiếm, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty Cổ Phần Thương Mại & Dịch Vụ Duy Trang</td>
                  <td class="3">483 Đường Tam Chinh, Hoàng Mai, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thành Trung Hà Nội</td>
                  <td class="3">Số 86 đường Nguyễn Khánh Toàn, Phường Quan Hoa, Quận Cầu Giấy, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thiên Bảo Anh</td>
                  <td class="3">12 - A7 - tầng 12, khu đô thị Tây Nam Hà Nội, phường Trung Hòa, quận Cầu Giấy, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Đầu Tư Thương Mại Dịch Vụ Nam An</td>
                  <td class="3">Km190+200 đường Quán Gánh, xã Văn Bình, huyện Thường Tín, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="3">Hai Phong</td>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Và Du Lịch Minh Ngọc</td>
                  <td class="3">265-267 Lê Thánh Tông, Ngô Quyền, Hải Phòng</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Vật Tư</td>
                  <td class="3">406 Phố Tô Hiệu, P. Hồ Nam, Q. Lê Chân, Hải Phòng</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty Cổ Phần Lốp & Phụ Tùng Ô Tô Xanh</td>
                  <td class="3">Số 2/274  Lạch Tray, P. Lạch Tray, Q. Ngô Quyền, Hải Phòng</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Vinh Phuc</td>
                  <td style="width: 25%;">B-shop </br>Phương Nhung</td>
                  <td class="3">Số 381, khu phố 1, đường Hùng Vương, phường Đồng Tâm, Thành phố Vĩnh Yên, tỉnh Vĩnh Phúc</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Hưng Thịnh Phát</td>
                  <td class="3">Khu 3, thị trấn Yên Lạc, huyện Yên Lạc, tỉnh Vĩnh Phúc</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Lào Cai</td>
                  <td style="width: 25%;">Công Ty TNHH TM-XNK Quỳnh Tuyên</td>
                  <td class="3">Nhà ông Tuyên, tổ 8, đường B1, Phường Bắc Cường, thành phố Lào Cai, tỉnh Lào Cai</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Hải Dương</td>
                  <td style="width: 25%;">Công Ty TNHH MTV TM Và DV Hạnh Nguyên</td>
                  <td class="3">Km 54+100, Quốc Lộ 5, Khu 3, Phường Nhị Châu, TP Hải Dương, tỉnh Hải Dương</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Yên Bái</td>
                  <td style="width: 25%;">Hộ Kinh Doanh Nguyễn Viết Đại</td>
                  <td class="3">213 Đinh Tiên Hoàng, Phường Đồng Tâm, TP. Yên Bái</td>
                </tr>
            </tbody>
          </table>
        </li>
        <br>
        <li> 
          <strong>- Các đại lý thuộc các tỉnh Miền Trung:</strong> 
          <table width="100%" border="1" cellspacing="0" cellpadding="10" style="text-align: center;">
            <tbody>
              <tr>
                <th>Tỉnh</th>
                <th>Đại Lý</th>
                <th>Địa Chỉ</th>
              </tr>
              <tr>
                  <td style="width: 15%;">Da Nang</td>
                  <td style="width: 25%;">B-select Bích Hiền</td>
                  <td class="3">252-254 Nguyễn Hữu Thọ Quận Hải Ch&acirc;u, Đ&agrave; Nẵng.</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Dak Lak</td>
                  <td style="width: 25%;">B-select Tín nghĩa</td>
                  <td class="3">203-205 L&ecirc; Th&aacute;nh T&ocirc;ng , P.T&acirc;n Lợi, Tp.Bu&ocirc;n Ma Thuột , Daklak</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Gia Lai</td>
                  <td style="width: 25%;">B-select Thuần Lý</td>
                  <td class="3">64 H&ugrave;ng Vương, th&agrave;nh phố Pleiku, tỉnh Gia Lai</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Khanh Hoa</td>
                  <td style="width: 25%;">B-select Sao Mai Em</td>
                  <td class="3">597-599 L&ecirc; Hồng Phong, th&agrave;nh phố Nha Trang, tỉnh Kh&aacute;nh H&ograve;a</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Sao Mai Anh</td>
                  <td class="3">174 Đường 23/10, Nha Trang - Khánh Hòa</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Lam Dong</td>
                  <td style="width: 25%;">Doanh Nghiệp Tư Nhân Nhị Nguyên</td>
                  <td class="3">548 Quốc lộ 20, Liên Nghĩa, Đức Trọng, Lâm Đồng</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="3">Nghe An</td>
                  <td style="width: 25%;">B-shop </br>An Hưng Phát</td>
                  <td class="3">92 Mai Hắc Đế, Th&agrave;nh phố Vinh, Nghệ An</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop </br>Trường Lộc Vinh</td>
                  <td class="3">26 Nguyễn Văn Trỗi, TP. Vinh, Nghệ An</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Lốp Xe Du Lịch Hoàng Oanh</td>
                  <td class="3">QL1A-Khối 6, Thị Trấn Diễn Châu, Huyện Diễn Châu, Tỉnh Nghệ An, Việt Nam</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Quang Ninh</td>
                  <td style="width: 25%;">B-select Anh Vũ</td>
                  <td class="3">36 L&ecirc; Thanh Nghị, Cẩm B&igrave;nh, Th&agrave;nh phố Cẩm Phả, Quảng Ninh</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Tổ Hợp Dịch Vụ Điện Công Nghiệp Dân Dụng Quảng Ninh</td>
                  <td class="3">549 Lê Thánh Tông, Hạ Long-Quảng Ninh</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Quang Tri</td>
                  <td style="width: 25%;">B-shop Đăng Thảo</td>
                  <td class="3">435 Lê Duẩn-Phường Đông Lễ-Tp.Đông Hà-tỉnh Quảng Trị</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Kontum</td>
                  <td style="width: 25%;">Công Ty TNHH Thành Thu Auto</td>
                  <td class="3">847 Phan Dinh Phung, P. Quang Trung, Tp.Kontum</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Bình Định</td>
                  <td style="width: 25%;">Doanh Nghiệp Tư Nhân Thương Mại Kim Phúc</td>
                  <td class="3">182A Nguyễn Thái Học, Qui Nhơn, Bình Định</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Thanh Hoa</td>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Lộc Xuân</td>
                  <td class="3">Thôn 4 Quang Trung, QL 1A, TX Bỉm Sơn , Thanh Hóa</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Quang Vinh </td>
                  <td class="3">685 B&agrave; Triệu, Phường Trường Thi, Th&agrave;nh Phố Thanh H&oacute;a</td>
                </tr>
            </tbody>
          </table>
        </li>
        <br>
        <li> 
           <strong>- Các đại lý thuộc các tỉnh Miền Nam:</strong>
          <table width="100%" border="1" cellspacing="0" cellpadding="10" style="text-align: center;">
            <tbody>
              <tr>
                <th>Tỉnh</th>
                <th>Đại Lý</th>
                <th>Địa Chỉ</th>
              </tr>
              <tr>
                  <td style="width: 15%;">An Giang</td>
                  <td style="width: 25%;">B-shop Hoàng Lĩnh</td>
                  <td class="3">666/6 Phạm Cự Lượng, kh&oacute;m T&acirc;n Ph&uacute;, P. Mỹ Qu&yacute;, TP. Long Xuy&ecirc;n, An Giang</td>
              </tr>
              <tr>
                  <td style="width: 15%;">Ba Ria - Vung Tau</td>
                  <td style="width: 25%;">B-shop Huỳnh Tấn</td>
                  <td class="3">11 Huyền Trân Công Chúa, Phường 8, Tp.Vũng Tàu</td>
              </tr>
              <tr>
                  <td style="width: 15%;" rowspan="3">Binh Duong</td>
                  <td style="width: 25%;">B-select Năm Quốc</td>
                  <td class="3">391 Đại lộ B&igrave;nh Dương, tổ 1, KP12, P. Ch&aacute;nh Nghĩa, TP. Thủ Dầu Một, tỉnh B&igrave;nh Dương</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Bình Minh Tải</td>
                  <td class="3">7/14 Khu phố Bình Đức 2, Phường Bình Hòa, Thuận An, Bình Dương</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Dĩ An</td>
                  <td class="3">666/11 khu phố T&acirc;n H&ograve;a, phường Đ&ocirc;ng H&ograve;a, Dĩ An, B&igrave;nh Dương</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="3">Binh Phuoc</td>
                  <td style="width: 25%;">B-shop Trần Đức</td>
                  <td class="3">219 Quốc lộ 14, Phường T&acirc;n Thiện, TX. Đồng Xo&agrave;i, Tỉnh B&igrave;nh Phước</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Một Thành Viên Đức Tài</td>
                  <td class="3">Tổ 1, khu phố Tân Trà, P. Tân Xuân, thị xã Đồng Xoài, tỉnh Bình Phước</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH MTV Thương Mại Dịch Vụ Tuấn Huy</td>
                  <td class="3">Tổ 1, Khu phố Xa Cam 2, phường Hưng Chiến, Thị xã Bình Long, Tỉnh Bình Phước</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Can Tho</td>
                  <td style="width: 25%;">B-select Autocare24</td>
                  <td class="3">212 Nguyễn Văn Linh, P.Hưng Lợi, Q.Ninh Kiều, TP. Cần Thơ</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Dong Nai</td>
                  <td style="width: 25%;">Doanh Nghiệp Tư Nhân Tân Năm Khương</td>
                  <td class="3">106/528 Khu phố 1, P.Tân Mai, Bien Hòa, Đồng Nai</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Một Thành Viên Hương Bính</td>
                  <td class="3">682-683, Lô 8, Quốc lộ 1, ấp Núi Tung, Xã Suối Tre, Thị Xã Long Khánh, Tỉnh Đồng Nai</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="16">Ho Chi Minh</td>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Dịch Vụ Hoàng Tư</td>
                  <td class="3">37/1B Quốc lộ 1A, tổ 9, KP.4, P. Tân Hưng Thuận, Q. 12, TP. Hồ Chí Minh</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại - Dịch Vụ Năm Tuội</td>
                  <td class="3">40/5 Quốc Lộ 1A, Tổ 16, P. Tân Hưng Thuận, Quận 12, Tp. Hồ Chí Minh</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Vỏ Xe Ô Tô Hải Triều</td>
                  <td class="3">85 Lý Thái Tổ, Phường 1, Quận 10, Tp. Hồ Chí Minh, VN</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Phước Hải</td>
                  <td class="3">344B L&yacute; Th&aacute;i Tổ, Phường 1, Quận 3, TP.HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty Cổ Phần Lốp Xe Việt</td>
                  <td class="3">190 Bạch Đằng, Phường 24, Quận Bình Thạnh, Tp.HCM </td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Yến Phong</td>
                  <td class="3">111/2, Khu phố 1, P. Thạnh Xuân, Q. 12, TP. HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thiết Bị Minh Phát</td>
                  <td class="3">78/5C Quốc lộ 13, phường 26, quận Bình Thạnh, TP. HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Vỏ Xe Vạn Lợi</td>
                  <td class="3">342-344A Lý Thái Tổ, P1, Q3, TPHCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Hồng Lợi Hưng</td>
                  <td class="3">749 Lê Hồng Phong, P12, Q10, TPHCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Xuất Nhập Khẩu Hồng Cường</td>
                  <td class="3">5 Lý Thái Tổ, P1, Q10, TPHCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH SX Thương Mại Đô Tươi</td>
                  <td class="3">873 Luỹ Bán Bích, P.Tân Thành, Q.Tân Phú</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Dịch Vụ Ô Tô Tân Hoàn Cầu</td>
                  <td class="3">252 Quốc Lộ 13, P.Hiệp Bình Phước, Q.Thủ Đức, TP.HCM </td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Một Thành Viên Hiệp Hưng An</td>
                  <td class="3">66 Linh Đông, Khu phố 7, Phường Linh Đông, Quận Thủ Đức, Tp.HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Một Thành Viên Bảy Bằng</td>
                  <td class="3">458/3M Nguyễn Hữu Thọ, P. Tân Hưng, Q.7, Tp. HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH Thương Mại Lốp Việt</td>
                  <td class="3">114 Phan Văn Hân, Phường 17, Quận Bình Thạnh, TP.HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Thanh Long</td>
                  <td class="3">78/5C Quốc lộ 13, phường 26, quận Bình Thạnh, TP. HCM</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Long An</td>
                  <td style="width: 25%;">B-shop Khang Ngô</td>
                  <td class="3">Số 01 Đường số 28 Khu Trung t&acirc;m h&agrave;nh ch&iacute;nh tỉnh Phường 6, Long An</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Tay Ninh</td>
                  <td style="width: 25%;">Công Ty Trách Nhiệm Hữu Hạn Thái Phùng</td>
                  <td class="3">541 Đường 30/4, Kp. Ninh Trung, P. Ninh Trung, Tp Tây Ninh, Tỉnh Tây Ninh</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Sóc Trăng</td>
                  <td style="width: 25%;">Công Ty TNHH Một Thành Viên Vũ Mạnh Thắng</td>
                  <td class="3">267 QL1, P.7, Tp. Sóc Trăng, tỉnh Sóc Trăng</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Lâm Đồng</td>
                  <td style="width: 25%;">Công Ty TNHH Quốc Nam</td>
                  <td class="3">329 (số mới) Hai Bà Trưng, Phường 6, Đà Lạt,Lâm Đồng</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Doanh Nghiệp Tư Nhân Nhị Nguyên</td>
                  <td class="3">548 Quốc lộ 20, Liên Nghĩa, Đức Trọng, Lâm Đồng</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Đồng Nai</td>
                  <td style="width: 25%;">Công Ty TNHH MTV Hương Bính</td>
                  <td class="3">682-683, Lô 8, Quốc lộ 1, ấp Núi Tung, Xã Suối Tre, Thị Xã Long Khánh, Tỉnh Đồng Nai</td>
                </tr>
                <tr>
                  <td style="width: 25%;">Công Ty TNHH MTV TM-DV Sơn Thanh Ngọc</td>
                  <td class="3">Số H1/ 010B, ấp Nam Sơn, Xã Quang Trung, Huyện Thống Nhất, Tỉnh Đổng Nai, Việt Nam</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Cà Mau</td>
                  <td style="width: 25%;">Công Ty TNHH TM-DV Tuấn Hiệp</td>
                  <td class="3">Số 29, đường Lý Thường Kiệt, khóm 7, phường 6, Tp. Cà Mau, Tỉnh Cà Mau</td>
                </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>



