
@{
    ViewBag.Title = "Retails";
    Layout = "~/Views/Shared/_Layout_BridgeStone.cshtml";
}
<div class="tnc-content inner-content o-2-m o-3-d"  ng-init="page = 'page-retails'">
      <br /><br />
      <h1 class="title">danh sách đại lý</h1>
      <ul class="tnc-list">
        <li></li>
        <li> -
          Danh sách đại lý tham gia chương trình khuyến mãi <strong>Ưu đãi 300.000 VND khi mua 
02 lốp xe du lịch cao cấp TURANZA GR100</strong></li>
        <br />
        <li> 
          <strong>- Các đại lý thuộc các tỉnh Miền Bắc:</strong> 
          <table width="100%" border="1" cellspacing="0" cellpadding="10" style="text-align: center;">
            <tbody>
              <tr>
                <th>Tỉnh</th>
                <th>Đại Lý</th>
                <th>Địa Chỉ</th>
              </tr>
              <tr>
                  <td style="width: 15%;">Bắc Ninh</td>
                  <td style="width: 25%;">B-shop BestVN</td>
                  <td class="3">Số nh&agrave; 42-44 Ng&ocirc; Gia Tự, Phường Vũ Ninh, TP. Bắc Ninh, tỉnh Bắc Ninh</td>
              </tr>
              <tr>
                  <td style="width: 15%;">Hà Nam</td>
                  <td style="width: 25%;">B-shop Tuấn Thành</td>
                  <td class="3">Phủ L&yacute;, H&agrave; Nam</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="10">Hà Nội</td>
                  <td style="width: 25%;">B-select Xuân Tùng</td>
                  <td class="3">640, Lạc Long Qu&acirc;n, Ph&uacute; Thượng, T&acirc;y Hồ, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Dân Chủ</td>
                  <td class="3">S&ocirc;́ 140 Trần Ph&uacute;, H&agrave; Đ&ocirc;ng, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select </br> Thái Phương</td>
                  <td class="3">B1-2 phố Việt Hưng, P. Việt Hưng, Q. Long Bi&ecirc;n, TP. H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop An Việt Nhật</td>
                  <td class="3">51 Ngọc Hồi, P.Ho&agrave;ng Liệt, Q. Ho&agrave;ng Mai, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Gia Khoa</td>
                  <td class="3">214 Trần Quang Khải, P. Chương Dương, Q. Hoàn Kiếm, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select </br> Hoàng Hùng</td>
                  <td class="3">52-54 Yên Phụ, P. Nguyễn Trung Trực, Q. Ba Đình, Hà Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Bích Thư</td>
                  <td class="3">Tổ 22 Vành Đai 3, P. Yên Sở, Q. Hoàng Mai, Hà Nội (đối diện công viên Yên Sở, nằm dưới chân cầu vượt)</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Xuân Tùng</td>
                  <td class="3">69A Hai B&agrave; Trưng, P. Cửa Nam, Ho&agrave;n Kiếm, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Lộc Xuân</td>
                  <td class="3">106 V&otilde; Ch&iacute; C&ocirc;ng, Xu&acirc;n La, T&acirc;y Hồ, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Long Biên</td>
                  <td class="3">L&ocirc; 19B, số 3+5 Nguyễn Văn Linh, Quận Long Bi&ecirc;n, H&agrave; Nội</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Hải Phòng</td>
                  <td style="width: 25%;">B-select Minh Ngọc</td>
                  <td class="3">267 L&ecirc; Th&aacute;nh T&ocirc;ng, phường M&aacute;y Chai, quận Ng&ocirc; Quyền, th&agrave;nh phố Hải Ph&ograve;ng</td>
                </tr>
                 <tr>
                  <td style="width: 15%;">Hưng Yên</td>
                  <td style="width: 25%;">B-shop Lợi Mận</td>
                  <td class="3">Đường L&ecirc; Văn Lương, X&atilde; Trung Nghĩa, Th&agrave;nh phố Hưng Y&ecirc;n</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Nam Định</td>
                  <td style="width: 25%;">B-select Th&agrave;nh Nam</td>
                  <td class="3">Đường 10, Vỵ Dương, Mỹ X&atilde;, Th&agrave;nh phố Nam Định, Tỉnh Nam Định</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Thái Nguyên</td>
                  <td style="width: 25%;">B-shop Mạnh Dũng</td>
                  <td class="3">448 Lương Ngọc Quy&ecirc;́n, P. Đ&ocirc;̀ng Quang, TP. Thái Nguy&ecirc;n</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Vĩnh Phúc</td>
                  <td style="width: 25%;">B-shop </br>Phương Nhung</td>
                  <td class="3">Số 381, khu phố 1, đường H&ugrave;ng Vương, phường Đồng T&acirc;m, Th&agrave;nh phố Vĩnh Y&ecirc;n, tỉnh Vĩnh Ph&uacute;c</td>
                </tr>
            </tbody>
          </table>
        </li>
        <br />
        <li> 
          <strong>- Các đại lý thuộc các tỉnh Miền Trung:</strong> 
          <table width="100%" border="1" cellspacing="0" cellpadding="10" style="text-align: center;">
            <tbody>
              <tr>
                <th>Tỉnh</th>
                <th>Đại Lý</th>
                <th>Địa Chỉ</th>
              </tr>
              <tr>
                  <td style="width: 15%;">Đà Nẵng</td>
                  <td style="width: 25%;">B-select Bích Hiền</td>
                  <td class="3">252-254 Nguyễn Hữu Thọ Quận Hải Ch&acirc;u, Đ&agrave; Nẵng.</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Đắk Lắk</td>
                  <td style="width: 25%;">B-select Tín nghĩa</td>
                  <td class="3">203-205 L&ecirc; Th&aacute;nh T&ocirc;ng , P.T&acirc;n Lợi, Tp.Bu&ocirc;n Ma Thuột , Daklak</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Gia Lai</td>
                  <td style="width: 25%;">B-select Thuần Lý</td>
                  <td class="3">64 H&ugrave;ng Vương, th&agrave;nh phố Pleiku, tỉnh Gia Lai</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Khánh Hòa</td>
                  <td style="width: 25%;">B-select Sao Mai Em</td>
                  <td class="3">597-599 L&ecirc; Hồng Phong, th&agrave;nh phố Nha Trang, tỉnh Kh&aacute;nh H&ograve;a</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Lâm Đồng</td>
                  <td style="width: 25%;">B-select Quốc Nam</td>
                  <td class="3">329 Hai B&agrave; Trưng, Th&agrave;nh phố Đ&agrave; Lạt, tỉnh L&acirc;m Đồng</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Nghệ An</td>
                  <td style="width: 25%;">B-shop </br>An Hưng Phát</td>
                  <td class="3">92 Mai Hắc Đế, Th&agrave;nh phố Vinh, Nghệ An</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop </br>Trường Lộc Vinh</td>
                  <td class="3">26 Nguyễn Văn Trỗi, TP. Vinh, Nghệ An</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Quảng Ninh</td>
                  <td style="width: 25%;">B-select Hải Anh</td>
                  <td class="3">36 L&ecirc; Thanh Nghị, Cẩm B&igrave;nh, Th&agrave;nh phố Cẩm Phả, Quảng Ninh</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Quảng Trị</td>
                  <td style="width: 25%;">B-shop Đăng Thảo</td>
                  <td class="3">375 L&ecirc; Duẩn, P. Đ&ocirc;ng Lễ, TP. Đ&ocirc;ng H&agrave;, Tỉnh Quảng Trị</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Thanh Hóa</td>
                  <td style="width: 25%;">B-shop Quang Vinh </td>
                  <td class="3">691 B&agrave; Triệu, Phường Trường Thi, Th&agrave;nh Phố Thanh H&oacute;a</td>
                </tr>
            </tbody>
          </table>
        </li>
        <br />
        <li> 
           <strong>- Các đại lý thuộc các tỉnh Miền Nam:</strong>
          <table width="100%" border="1" cellspacing="0" cellpadding="10" style="text-align: center;">
            <tbody>
              <tr>
                <th>Tỉnh</th>
                <th>Đại Lý</th>
                <th>Địa Chỉ</th>
              </tr>
              <tr>
                  <td style="width: 15%;">An Giang</td>
                  <td style="width: 25%;">B-shop Hoàng Lĩnh</td>
                  <td class="3">666/6 Phạm Cự Lượng, kh&oacute;m T&acirc;n Ph&uacute;, P. Mỹ Qu&yacute;, TP. Long Xuy&ecirc;n, An Giang</td>
              </tr>
              <tr>
                  <td style="width: 15%;">Bà Rịa - Vũng Tàu</td>
                  <td style="width: 25%;">B-shop Huỳnh Tấn</td>
                  <td class="3">340 , L&ecirc; Hồng Phong , Phường 3 , TP Vũng T&agrave;u</td>
              </tr>
              <tr>
                  <td style="width: 15%;" rowspan="3">Bình Dương</td>
                  <td style="width: 25%;">B-select Năm Quốc</td>
                  <td class="3">391 Đại lộ B&igrave;nh Dương, tổ 1, KP12, P. Ch&aacute;nh Nghĩa, TP. Thủ Dầu Một, tỉnh B&igrave;nh Dương</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Viettire</td>
                  <td class="3">78 L&yacute; Th&aacute;i Tổ, Phường 2, Quận 3, Th&agrave;nh phố Hồ Ch&iacute; Minh</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Dĩ An</td>
                  <td class="3">666/11 khu phố T&acirc;n H&ograve;a, phường Đ&ocirc;ng H&ograve;a, Dĩ An, B&igrave;nh Dương</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Bình Phước</td>
                  <td style="width: 25%;">B-shop Trần Đức</td>
                  <td class="3">219 Quốc lộ 14, Phường T&acirc;n Thiện, TX. Đồng Xo&agrave;i, Tỉnh B&igrave;nh Phước</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Cần Thơ</td>
                  <td style="width: 25%;">B-select Autocare24</td>
                  <td class="3">212 Nguyễn Văn Linh, P.Hưng Lợi, Q.Ninh Kiều, TP. Cần Thơ</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="3">Đồng Nai</td>
                  <td style="width: 25%;">B-select </br>Tân Nam Khương</td>
                  <td class="3">1103 Phạm Văn Thuận, Bi&ecirc;n H&ograve;a, Đồng Nai</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Ngọc Lốp</td>
                  <td class="3">2052 quốc lộ 51, ấp Hương Phước, Phước T&acirc;n, TP. Bi&ecirc;n H&ograve;a, Đồng Nai, gần đường tr&aacute;nh Bi&ecirc;n H&ograve;a hay c&ograve;n gọi l&agrave; đường V&otilde; Nguy&ecirc;n Gi&aacute;p</td>
                </tr>
                <tr>  
                  <td style="width: 25%;">B-shop </br>Sơn Thanh Ngọc</td>
                  <td class="3">Số H1/010B, ấp Nam Sơn, X&atilde; Quang Trung, Huyện Thống Nhất, Tỉnh Đồng Nai, Việt Nam</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="5">Hồ Chí Minh</td>
                  <td style="width: 25%;">B-select Th&agrave;nh Ph&aacute;t</td>
                  <td class="3">48 L&yacute; Th&aacute;i Tổ, Phường 1, Quận 3, TPHCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Vạn Lợi</td>
                  <td class="3">342-344A L&yacute; Th&aacute;i Tổ, P1, Q3, TPHCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-select Yến Phong</td>
                  <td class="3">111/2, Khu phố 1, P. Thạnh Xu&acirc;n, Q. 12, TP. HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Phước Hải</td>
                  <td class="3">344B L&yacute; Th&aacute;i Tổ, Phường 1, Quận 3, TP.HCM</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Thanh Long</td>
                  <td class="3">3/1 Đường 17 - Phạm Văn Đồng, phường Hiệp B&igrave;nh Ch&aacute;nh, quận Thủ Đức (c&aacute;ch ng&atilde; tư B&igrave;nh Triệu 200m)</td>
                </tr>
                <tr>
                  <td style="width: 15%;">Long An</td>
                  <td style="width: 25%;">B-shop Khang Ngô</td>
                  <td class="3">Số 01 Đường số 28 Khu Trung t&acirc;m h&agrave;nh ch&iacute;nh tỉnh Phường 6, Long An</td>
                </tr>
                <tr>
                  <td style="width: 15%;" rowspan="2">Tây Ninh</td>
                  <td style="width: 25%;">B-select Thái Phùng</td>
                  <td class="3">245 ấp Trâm Vàng, xã Thanh Phước, Gò Dầu, Tây Ninh</td>
                </tr>
                <tr>
                  <td style="width: 25%;">B-shop Thái Phùng</td>
                  <td class="3">245 ấp Tr&acirc;m V&agrave;ng, x&atilde; Thanh Phước, G&ograve; Dầu, th&agrave;nh phố T&acirc;y Ninh</td>
                </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>


