
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout_BridgeStone.cshtml";
}

<div class="thank-you-content inner-content o-3-m o-2-d">
    <h1 class="title">CẢM ƠN BẠN ĐÃ THAM GIA CHƯƠNG TRÌNH</h1>
    <h2 class="sub-title">
        Ưu đãi 300.000 VND khi mua
        <br>02 lốp xe du lịch cao cấp
        <a href="#">TURANZA GR100</a>
    </h2>
    <ul class="tks-list">
        <li>Mã ưu đãi sẽ được gửi qua tin nhắn SMS dựa vào số điện thoại mà bạn đã cung cấp. </li>
        <li>
            Mã ưu đãi được áp dụng tại các hệ thống
            <br>
            <a href="/dai-ly">Trung tâm dịch vụ lốp xe du lịch B-select và B-shop chính thức của Bridgestone Việt Nam trên toàn quốc.</a>
        </li>
        <li>
            Mọi thông tin liên hệ, Bạn vui lòng liên hệ
            <br>hotline Bridgestone:
            <a href="tel:1900 54 54 68">1900 54 54 68.</a>
        </li>
        <li>
            <a class="uppercase" href="/the-le-dieu-kien">Xem Chi Tiết Thể Lệ Chương Trình</a>
        </li>
    </ul>
</div>

