
@{
    ViewBag.Title = "Tnc";
    Layout = "~/Views/Shared/_Layout_BridgeStone.cshtml";
}

<div class="tnc-content inner-content o-2-m o-3-d" ng-init="page = 'page-tnc'">
    <h1 class="title">thể lệ chương trình</h1>
    <ul class="tnc-list">
        <li>
            -
            <strong>Nội dung chương trình: </strong>Khách hàng đăng ký nhận mã ưu đãi Website của chương trình (www.khuyenmaibridgestone.com).
            Mã ưu đãi sẽ được gửi về điện thoại của khách hàng ngay sau khi đăng ký thành công. Mã ưu đãi có giá trị giảm giá
            trực tiếp 300.000 VND chi phí khi sử dụng các dịch vụ về lốp khi mua 02 lốp xe cao cấp Turanza GR100.
        </li>
        <li>
            -
            <strong>Thời gian: </strong>từ 15/04 đến hết ngày 30/04/2018.
        </li>
        <li>
            -
            <strong>Địa điểm áp dụng: </strong>tất cả Trung tâm dịch vụ lốp xe du lịch B-select, B-shop của Bridgestone trên cả nước.
            Tham khảo danh sách các đại lý của Bridgestone trên cả nước
            <a href="/dai-ly">Tại Đây</a>
        </li>
        <li>
            -
            <strong>Các kích thước lốp cao cấp Turanza GR100</strong>
            <table width="100%" border="1" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td>195/65R15</td>
                        <td>225/50R17</td>
                    </tr>
                    <tr>
                        <td>205/65R15</td>
                        <td>225/55R17</td>
                    </tr>
                    <tr>
                        <td>205/55R16</td>
                        <td>225/40R18</td>
                    </tr>
                    <tr>
                        <td>205/60R16</td>
                        <td>235/50R18</td>
                    </tr>
                    <tr>
                        <td>205/65R16</td>
                        <td>245/40R18</td>
                    </tr>
                    <tr>
                        <td>215/60R16</td>
                        <td>245/45R18</td>
                    </tr>
                    <tr>
                        <td>225/60R16</td>
                        <td>245/50R18</td>
                    </tr>
                    <tr>
                        <td>235/60R16</td>
                        <td>255/45R18</td>
                    </tr>
                    <tr>
                        <td>215/45R17</td>
                        <td>245/45R19</td>
                    </tr>
                    <tr>
                        <td>215/50R17</td>
                        <td>275/40R19</td>
                    </tr>
                    <tr>
                        <td>215/55R17</td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
