
@{
    ViewBag.Title = "Tnc";
    Layout = "~/Views/Shared/_Layout_BridgeStone.cshtml";
}

<div class="banner o-2-m o-3-d">
    <img class="banner-img" src="/Content/images/banner-2.jpg" alt="Turanza Evoucher">
</div>
<div class="tnc-content inner-content o-2-m o-3-d" ng-init="page = 'page-tnc'">
    <h1 class="title">thể lệ chương trình</h1>
    <ul class="tnc-list">
        <li>
            -
            <strong>Nội dung chương trình: </strong>Khách hàng đăng ký nhận mã ưu đãi tại website của chương trình (www.khuyenmaibridgestone.com) hoặc soạn TURANZA gửi 6067 <br /> <br />
            <div style="text-indent: 30px;">Mã ưu đãi sẽ được gửi về điện thoại của khách hàng ngay sau khi đăng ký thành công. Sử dụng mã ưu đãi tại hệ thống đại lý Bridgestone trên toàn quốc để được nhận thẻ xăng Flexicard (sử dụng tại các cây xăng Petrolimex) trị giá 300.000 VND khi mua 02 lốp xe cao cấp Turanza GR100.</div>
        </li>
        <li>
            -
            <strong>Thời gian: </strong>Từ 20/06 đến hết ngày 20/07/2018.
        </li>
        <li>
            -
            <strong>Địa điểm áp dụng: </strong>Tất cả các đại lý Bridgestone trên toàn quốc. Tham khảo danh sách đại lý <a href="dai-ly">Tại Đây</a>
        </li>
        <li>
            -
            <strong>Các kích thước lốp cao cấp Turanza GR100</strong>
            <table width="100%" border="1" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td>185/65R15</td>
                        <td>195/55R15</td>
                    </tr>
                    <tr>
                        <td>195/60R15</td>
                        <td>195/65R15</td>
                    </tr>
                    <tr>
                        <td>205/55R16</td>
                        <td>205/60R16</td>
                    </tr>
                    <tr>
                        <td>205/65R15</td>
                        <td>205/65R16</td>
                    </tr>
                    <tr>
                        <td>215/45R17</td>
                        <td>215/50R17</td>
                    </tr>
                    <tr>
                        <td>215/55R17</td>
                        <td>215/60R16</td>
                    </tr>
                    <tr>
                        <td>225/40R18</td>
                        <td>225/45R18</td>
                    </tr>
                    <tr>
                        <td>225/50R17</td>
                        <td>225/50R17</td>
                    </tr>
                    <tr>
                        <td>225/55R16</td>
                        <td>225/55R17</td>
                    </tr>
                    <tr>
                        <td>225/55R17</td>
                        <td>225/60R16</td>
                    </tr>
                    <tr>
                        <td>235/50R18</td>
                        <td>235/50R18</td>
                    </tr>
                    <tr>
                        <td>235/55R17</td>
                        <td>235/60R16</td>
                    </tr>
                    <tr>
                        <td>245/40R18</td>
                        <td>245/40R19</td>
                    </tr>
                    <tr>
                        <td>245/45R18</td>
                        <td>245/45R19</td>
                    </tr>
                    <tr>
                        <td>245/50R18</td>
                        <td>255/45R18</td>
                    </tr>
                    <tr>
                        <td>255/45R18</td>
                        <td>275/40R19</td>
                    </tr>
                    <tr>
                        <td>275/45R18</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>

